In [44]:
%pip install nselib

Requirement already satisfied: nselib in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (0.7)
Requirement already satisfied: requests in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from nselib) (2.31.0)
Requirement already satisfied: pandas in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from nselib) (2.1.4)
Requirement already satisfied: scipy in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from nselib) (1.11.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from pandas->nselib) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from pandas->nselib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from pandas->nselib) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from requests->nselib) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from requests->nselib) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from requests->nselib) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from requests->nselib) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\arush bansal\anaconda3\envs\iit_stock\lib\site-packages (from python-dateutil>=2.8.2->pandas->nselib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from nselib import capital_market
import nselib
from datetime import date

In [43]:
nselib.trading_holiday_calendar().to_csv("data/trading holiday canander.csv")

In [20]:
df = capital_market.bhav_copy_equities("16-1-2024")
df.to_csv("default.csv")

In [42]:
capital_market.block_deals_data(period="1D").to_csv("data/blcok_details_data_last_day.csv")

c:\Users\Arush Bansal\anaconda3\envs\iit_stock\lib\site-packages\nselib\capital_market\capital_market_data.py:322: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

In [33]:
capital_market.deliverable_position_data("SBIN", from_date="10-03-2005", to_date="10-03-2025").to_csv("data/SBI2005to2025")

In [36]:
capital_market.index_data("NIFTY 50", period="1M").to_csv("data/nifty50pastmonth.csv")

c:\Users\Arush Bansal\anaconda3\envs\iit_stock\lib\site-packages\nselib\capital_market\capital_market_data.py:226: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

In [37]:
capital_market.nifty50_equity_list().to_csv("data/nifty50_equity_list.csv")